@forward './hero';
@forward './banner';
@forward './services';
@forward './process';
@forward './studies';
@forward './reviews';
@forward './team';
@forward './contact-us';
@forward './header';
@forward './footer';
@forward './soc1als';
